In [65]:
# 1) Create a list called years_list, starting with the year of your birth, and each year thereafter 
# until the year of your fifth birthday.
# Method:-1 
years_list = [i for i in range(1997,1997+6)]
years_list

[1997, 1998, 1999, 2000, 2001, 2002]

In [67]:
# 1) Create a list called years_list, starting with the year of your birth, and each year thereafter 
# until the year of your fifth birthday.
# Method:-2 

years1 = []

for i in range(1989,1989+6):
    years1.append(i)
    
print(years1)

[1989, 1990, 1991, 1992, 1993, 1994]

In [72]:
# 2) In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

years1 = [1989, 1990, 1991, 1992, 1993, 1994]

for i in range(0,len(years1)):
    if years1.index(years1[i]) == 2:
        print("on",years1[i],"was your birthday")
        break

on 1991 was your birthday

In [71]:
# 3) In the years list, which year were you the oldest?

years1 = [1993, 1994, 2000, 1990, 1991, 1992]

yearFirst = 0
yearSecond = 0

for i in range(0, len(years1) - 1):
    yearSecond = years1[i]
    if yearFirst < yearSecond:
        yearFirst = yearSecond

print(yearFirst)

2000

In [17]:
# 4) 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

things = ["mozzarella", "cinderella", "salmonella"]

things

['mozzarella', 'cinderella', 'salmonella']

In [18]:
# 5. Capitalize the element in things that refers to a person and then print the list. Did it. change the element in the list?

things = ["mozzarella", "cinderella", "salmonella"]

thingsWithCapital = []


for i in things:
    thingsWithCapital.append(i.upper())

print(thingsWithCapital)

['MOZZARELLA', 'CINDERELLA', 'SALMONELLA']

In [56]:
# 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

surprise = ["Harpo.","Groucho," ,"Chico,"]
surprise

['Harpo.', 'Groucho,', 'Chico,']

In [62]:
# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
surprise_1 = []
surprise_Capital = []

for i in range(len(surprise)):
    if i==2:
        surprise_1.append(surprise[i].upper())
    else:
        surprise_1.append(surprise[i])
    
print(surprise_1)

surprise_1.reverse()

for j in surprise_1:
    surprise_Capital.append(j.upper())

print(surprise_Capital)

['Chico,', 'Groucho,', 'HARPO.']
['HARPO.', 'GROUCHO,', 'CHICO,']

In [64]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [82]:
#9. Write the French word for walrus in your three-word dictionary e2f.

e2f['walrus']

'morse'

In [81]:
#10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

f2e ={}

for i in e2f:
    f2e[e2f[i]] = i
    

print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [112]:
# 11. Print the English version of the French word chien using f2e.
# method 1 using Loop
f2e ={'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}


for i in f2e:
    if i == 'chien':
        print(f2e[i])

dog

In [113]:
# method 2
f2e['chien']

'dog'

In [114]:
# 12. Make and print a set of English words from the keys in e2f.

e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [ ]:
# 13. Make a multilevel dictionary called life. Use these strings for the topmost 
#keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', 
#and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. 
#Make all the other keys refer to empty dictionaries.

In [117]:
life = {'animals': {'cats': ['Henri','Grumpy','Lucy'], 'octopi':'', 'emus':''} , 'plants':'', 'other':''}

life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

In [119]:
# 14. Print the top-level keys of life.


# Method 01
for i in life:
    print(i)

# Method 02
life.keys()

animals
plants
other

dict_keys(['animals', 'plants', 'other'])

In [126]:
#15. Print the keys for life['animals'].

#Method 01
life['animals'].keys()

#Method 02

for i in life['animals'].keys():
    print(i)

cats
octopi
emus

In [129]:
# 16. Print the values for life['animals']['cats']

life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']